@page
@model LogoutModel

@{
    Layout = "/Views/Shared/_AdminLTE.cshtml";
}

@*@{
        ViewData["Title"] = "Log out";
    }*@
<header>
    <h2>Confirm Logout?</h2>
    <hr />
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-default bg-gradient-gray-dark mb-1"><i class="fas fa-sign-out-alt"></i> Logout </button>
            </form>
        }
        else
        {
            <p>You are not login yet.</p>
        }
    }
</header>