@model string
@inject AuthLocalizationService AuthLocalizer

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div id="statusModal" class="alert alert-@statusMessageClass alert-dismissible" role="alert">        
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        @Model
    </div>
}